<table border="0" width="100%">
    <tr>
        <td>


            {% for token in pr1_tokens %}
                {% if token == 'lineremovedtoken' or token == 'lineaddedtoken' %}
                    <br/>
                {% endif %}
                {% if token == 'newfiletoken' %}
                    <br/><br/>
                {% endif %}
                {% if res1_neg[loop.index0] < res1_pos[loop.index0] %}
                    <span style="background-color:rgba(0, 255, 0, {{res1_pos[loop.index0]}}")>{{token}}</span>
                {% else %}
                    <span style="background-color:rgba(255, 0, 0, {{res1_neg[loop.index0]}}")>{{token}}</span>
                {% endif %}
            {% endfor %}
        </td>
        <td>{% for token in pr2_tokens %}
                {% if token == 'lineremovedtoken' or token == 'lineaddedtoken' %}
                <br/>
                {% endif %}
                {% if token == 'newfiletoken' %}
                <br/><br/>
                {% endif %}
                {% if res2_neg[loop.index0] < res2_pos[loop.index0] %}
                    <span style="background-color:rgba(0, 255, 0, {{res2_pos[loop.index0]}}")>{{token}}</span>
                {% else %}
                <   span style="background-color:rgba(255, 0, 0, {{res2_neg[loop.index0]}}")>{{token}}</span>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>